@page
@using Microsoft.AspNetCore.Identity
@using Bandori.Models

@model Bandori.Pages.UnitsAdmin.DeleteModel
@inject SignInManager<BandoriUser> SignInManager
@inject UserManager<BandoriUser> UserManager

@{
    ViewData["Title"] = "ยกเลิกการแสดง";
}

<h2>ยกเลิกการแสดง</h2>

<h3>คุณแน่ใจนะ?</h3>
<div>
    <h4>รายละเอียด</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
			ยูนิต
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Units.UnitsCat.UnitsName)
        </dd>
        <dt>
			วันที่แสดง
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Units.LiveDate)
        </dd>
        <dt>
			สมาชิก
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Units.UnitsDetail)
        </dd>
        <dt>
			รายละเอียดการแสดง
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Units.LiveDetail)
        </dd>
        <dt>
			โพสโดย
        </dt>
        <dd>
            @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Units.UnitsID" />
        <input type="submit" value="ยกเลิกการแสดง" class="btn btn-default" /> |
        <a asp-page="./Index">กลับหน้าหลัก</a>
    </form>
</div>
