@page
@using Microsoft.AspNetCore.Identity
@using Bandori.Models

@model Bandori.Pages.UnitsAdmin.DetailsModel
@inject SignInManager<BandoriUser> SignInManager
@inject UserManager<BandoriUser> UserManager

@{
    ViewData["Title"] = "รายละเอียด";
}

<h2>รายละเอียด</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
			ยูนิต
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Units.UnitsCat.UnitsName)
        </dd>
        <dt>
			วันที่แสดง
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Units.LiveDate)
        </dd>
        <dt>
			สมาชิก
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Units.UnitsDetail)
        </dd>
        <dt>
			รายละเอียดการแสดง
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Units.LiveDetail)
        </dd>
        <dt>
			โพสโดย
        </dt>
        <dd>
            @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Units.UnitsID">Edit</a> |
    <a asp-page="./Index">กลับหน้าหลัก</a>
</div>
