@page
@using Microsoft.AspNetCore.Identity
@using Bandori.Models

@model Bandori.Pages.UnitsAdmin.EditModel
@inject SignInManager<BandoriUser> SignInManager
@inject UserManager<BandoriUser> UserManager

@{
    ViewData["Title"] = "แก้ไขข้อมูล";
}

<h2>แก้ไขข้อมูล</h2>

<h4>รายละเอียด</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Units.UnitsID" />
            <div class="form-group">
				ยูนิต
                <select asp-for="Units.UnitsCategoryID" class="form-control" asp-items="ViewBag.UnitsCategoryID"></select>
                <span asp-validation-for="Units.UnitsCategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
				วันที่แสดง
                <input asp-for="Units.LiveDate" class="form-control" />
                <span asp-validation-for="Units.LiveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
				สมาชิก
                <input asp-for="Units.UnitsDetail" class="form-control" />
                <span asp-validation-for="Units.UnitsDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
				รายละเอียดการแสดง
                <input asp-for="Units.LiveDetail" class="form-control" />
                <span asp-validation-for="Units.LiveDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
				โพสโดย: @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName;
			<input asp-for="Units.BandoriUserId" type="hidden" value="@UserManager.GetUserId(User)" />
            </div>
            <div class="form-group">
                <input type="submit" value="บันทึก" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">กลับหน้าหลัก</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
