@page
@using Microsoft.AspNetCore.Identity
@using Bandori.Models

@model Bandori.Pages.UnitsAdmin.IndexModel
@inject SignInManager<BandoriUser> SignInManager
@inject UserManager<BandoriUser> UserManager

@{
    ViewData["Title"] = "การแสดงทั้งหมด";
}

<h2>การแสดงทั้งหมด</h2>

<p>
    <a asp-page="Create">เพิ่มการแสดง</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
				ยูนิต
            </th>
            <th>
				วันที่แสดง
            </th>
            <th>
				สมาชิก
            </th>
            <th>
				รายละเอียดการแสดง
            </th>
            <th>
				โพสโดย
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Units) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsCat.UnitsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LiveDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LiveDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postUser.FirstName) @Html.DisplayFor(modelItem => item.postUser.LastName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.UnitsID">แก้ไข</a> |
                <a asp-page="./Details" asp-route-id="@item.UnitsID">รายละเอียด</a> |
                <a asp-page="./Delete" asp-route-id="@item.UnitsID">ยกเลิกการแสดง</a>
            </td>
        </tr>
}
    </tbody>
</table>
