@page
@model Bandori.Pages.UnitsCategoryAdmin.CreateModel

@{
    ViewData["Title"] = "ตั้งยูนิตใหม่";
}

<h2>ตั้งยูนิตใหม่</h2>

<h4>รายละเอียด</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
				ชื่อยูนิต
                <input asp-for="UnitsCategory.UnitsName" class="form-control" />
                <span asp-validation-for="UnitsCategory.UnitsName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ตั้งยูนิต" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">กลับหน้าหลัก</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
