@page
@model Bandori.Pages.UnitsCategoryAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบยูนิต";
}

<h2>ลบยูนิต</h2>

<h3>คุณแน่ใจใช่ไหมที่จะลบยูนิตนี้?</h3>
<div>
    <h4>รายละเอียด</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
			ชื่อยูนิต
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnitsCategory.UnitsName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="UnitsCategory.UnitsCategoryID" />
        <input type="submit" value="ลบ" class="btn btn-default" /> |
        <a asp-page="./Index">กลับหน้าหลัก</a>
    </form>
</div>
