@page
@model Bandori.Pages.UnitsCategoryAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียด";
}

<h2>รายละเอียด</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
			ชื่อยูนิต
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnitsCategory.UnitsName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.UnitsCategory.UnitsCategoryID">แก้ไขรายละเอียด</a> |
    <a asp-page="./Index">กลับหน้าหลัก</a>
</div>
