@page
@model Bandori.Pages.UnitsCategoryAdmin.IndexModel

@{
    ViewData["Title"] = "ยูนิตทั้งหมด";
}

<h2>ยูนิตทั้งหมด</h2>

<p>
    <a asp-page="Create">ตั้งยูนิตใหม่</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
				ชื่อยูนิต
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UnitsCategory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.UnitsCategoryID">แก้ไข</a> |
                <a asp-page="./Details" asp-route-id="@item.UnitsCategoryID">รายละเอียด</a> |
                <a asp-page="./Delete" asp-route-id="@item.UnitsCategoryID">ลบ</a>
            </td>
        </tr>
}
    </tbody>
</table>
