﻿@page
@model AboutModel
@{
    ViewData["Title"] = "เกี่ยวกับเรา";
}
<h2>@ViewData["Title"]</h2>
<h3>Bandori วงไอดอลนักดนตรีที่โด่งดังอยู่ในช่วงเวลานี้ มีสมาชิกทั้งหมด 35 คน 
	แบ่งเป็น 7 ยูนิต ยูนิตละ 5 คน ประกอบไปด้วย</h3>
<br><center>
<h3>Poppin'Party</h3>
<img src="~/images/Poppin'Party.jpg" width="800";height="800">
<br><br>
<h3>Afterglow</h3>
<img src="~/images/Afterglow.jpg" width="800";height="800">
<br><br>
<h3>Pastel*Palettes</h3>
<img src="~/images/PastelPalettes.jpg" width="500";height="500">
<br><br>
<h3>Roselia</h3>
<img src="~/images/Roselia.webp" width="800";height="800">
<br><br>
<h3>Hello, Happy World!</h3>
<img src="~/images/HHW.jpg" width="800";height="800">
<br><br>
<h3>Morƒonica</h3>
<img src="~/images/Morfonica.webp" width="800";height="800">
<br><br>
<h3>RAISE A SUILEN</h3>
<img src="~/images/Raise_a_suilen.webp" width="800";height="800">
</center>
