﻿@page
@model ContactModel
@{
    ViewData["Title"] = "ติดต่อสอบถาม";
}
<h2>@ViewData["Title"]</h2>
<h3>สามารถติดต่อสอบถามข้อมูลเพิ่มเติมได้ทาง</h3>


<address>
	<strong>Facebook Fanpage:</strong> <a href="www.facebook.com">Bandori [TH]</a><br />
	<strong>Twitter:</strong> <a href="www.twitter.com">Bandori_TH</a><br />
    <strong>Support:</strong> <a href="mailto:Support@Bandori.com">Support@Bandori.com</a><br />
</address>
