﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Bandori";
}

<div class="jumbotron" style="color:#3344AA; background-color:#DDDDFF">
	<center><h2>ปฏิทินการแสดงใน Theatre ณ ห้างสรรพสินค้า CenterMall Hatyai</h2><center>
</div>
<h3> การแสดงทั้งหมดในเดือนหน้า </h3>
@foreach (var item in Model.UnitsCategory){
	<div class="row">
		<h3>@Html.DisplayFor(model=>item.UnitsName)</h3>
	</div>

	<div class="row">
		<table class="table">
		<thead>
			<tr>
				<th>วันที่แสดง</th><th>สมาชิก</th><th>รายละเอียดการแสดง</th>
			</tr>
		</thead>
		<tbody>
	@foreach (var unitsItem in Model.Units) {
		if(unitsItem.UnitsCategoryID == item.UnitsCategoryID){
			<tr>
				<td>
					@Html.DisplayFor(modelItem => unitsItem.LiveDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => unitsItem.UnitsDetail)
				</td>
				<td>
					@Html.DisplayFor(modelItem => unitsItem.LiveDetail)
				</td>
			</tr>
		}
	}
		</tbody>
		</table>
	</div>
}