@page
@using Microsoft.AspNetCore.Identity
@using NewsReport.Models

@model NewsReport.Pages.NewsAdmin.DetailsModel
@inject SignInManager<NewsUser> SignInManager
@inject UserManager<NewsUser> UserManager
@{
    ViewData["Title"] = "รายละเอียดข่าว";
}

<h2>รายละเอียดข่าว</h2>

<div>
    <h4>มีรายละเอียดดังนี้</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
			หมวดข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsCat.ShortName)
        </dd>
        <dt>
			วันที่เกิดเหตุ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.ReportDate)
        </dd>
        <dt>
			เนื้อข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsDetail)
        </dd>
        <dt>
			ละติจูดจุดเกิดเหตุ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.GpsLat)
        </dd>
        <dt>
			ลองจิจูดจุดเกิดเหตุ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.GpsLng)
        </dd>
        <dt>
			สถานะการยืนยัน
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsStatus)
        </dd>
        <dt>
			โพสโดย
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.postUser.FirstName) @Html.DisplayFor(model => model.News.postUser.LastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.News.NewsID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
