@using Microsoft.AspNetCore.Identity
@using Bandori.Models
@inject SignInManager<BandoriUser> SignInManager
@inject UserManager<BandoriUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="color:black">ยินดีต้อนรับคุณ @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName</a>
            </li>
			<li>
				<a href="/UnitsAdmin" style="color:black"> เพิ่มการแสดง </a>
			</li>
			<li>
				<a href="/UnitsCategoryAdmin" style="color:black"> ยูนิตต่างๆในวง </a>
			</li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link" style="color:black">ออกจากระบบ</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register" style="color:black">สมัครสมาชิก</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login" style="color:black">เข้าสู่ระบบ</a></li>
    </ul>
}
